<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ output extension=".cs" #>

namespace FakePoc {
    class BigDto {
<# for (var i = 0; i < 20; i++) { #>
        public int i<#=i#> { get; set; } = <#=i#>;
<# } #>
<# for (var i = 0; i < 20; i++) { #>
        public string s<#=i#> { get; set; } = "<#=i#>";
<# } #>
<# for (var i = 0; i < 20; i++) { #>
        public decimal d<#=i#> { get; set; } = <#=i#>.<#=i#>m;
<# } #>

    }
}

